body {
  font-family: 'Segoe UI';
  text-align: center;
  background: #e5edf5;
  padding-top: 40px;
}

.mode-btn {
  padding: 12px 25px;
  margin: 8px;
  border: none;
  border-radius: 6px;
  font-size: 18px;
  cursor: pointer;
}

.active {
  background: #007bff;
  color: white;
}

.open {
  background: #28a745;
  color: white;
}

.close {
  background: #dc3545;
  color: white;
}
